@font-face{font-family:'Montserrat-Regular';src:url('../fonts/montserrat/Montserrat-Regular.otf');font-weight:normal;font-style:normal;}
body{line-height:1.5;font-family:'Montserrat-Regular';overflow-x:hidden;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
.section-padding{padding:60px 0px;}
h1, h2, h3, h4, h5, h6{}
.navbar-default{background-color:transparent;}
.bg-color{background-color:RGBA(0, 0, 0, 0.41);}
.nav > li > a{padding:0px;}
.navbar-brand{padding:0px;height:inherit;font-family:'Lato', sans-serif;}
.navbar-default .navbar-brand{color:#fff;font-size:34px;text-transform:uppercase;font-weight:700;letter-spacing:2px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{color:#FAB702;background-color:transparent;text-transform:uppercase;}
.navbar-default .navbar-nav > li > a{color:#fff;padding:0px 20px;text-transform:uppercase;text-shadow:0 6px 25px #000;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#FAB702;}
.navbar-fixed-top{padding:40px 0;transition:all 0.5s;}
.top-nav-collapse{background:rgba(0,0,0,0.9);padding:15px 0;}
div#mynavbar{margin-top:20px;}
.wrapper{padding:90px 0px 130px;}
.top-title{z-index:5;font-size:27px;font-weight:700;color:#fff;line-height:38px;letter-spacing:4px;opacity:1;text-transform:uppercase;}
.sub-title{font-size:50px;font-weight:700;color:#fff;line-height:71px;letter-spacing:4px;opacity:1;text-transform:uppercase;}
.title{font-size:123px;font-weight:700;color:#fff;line-height:88px;letter-spacing:4px;opacity:1;text-transform:uppercase;padding:25px 0px;}
.btn-submit{background:#FAB702;border:0px;display:inline-block;font-size:16px;text-transform:uppercase;padding:10px 40px;font-weight:normal;border-radius:0px;letter-spacing:1px;color:#333;position:relative;overflow:hidden;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;margin-top:25px;border:2px solid #FAB702;}
.btn-submit:hover{background:#fff;}
#cta-1{padding:40px 0px;}
.cta-info{border:5px solid #FAB702;padding:40px 0px;}
.cta-info h3{font-size:24px;}
.dec-tec{font-size:34px;}
#feature{background-color:#f8f8f8;}
.head-title{color:#2b2b2b;font-size:26px;font-weight:700;}
.botm-line{background-color:#2b2b2b;width:34px;height:3px;display:inline-block;}
.section-title:hover .botm-line{width:70px;-webkit-transition-property:width;-webkit-transition-duration:2s;-webkit-transition-timing-function:linear;-webkit-transition-delay:1s;transition-property:width;transition-duration:2s;transition-timing-function:linear;transition-delay:1s;}
p{color:#888;}
.icon{position:relative;height:48px;width:48px;float:left;margin-top:20px;margin-bottom:20px;}
.icon i{font-size:35px;}
.icon-text{margin-left:73px;padding:0px 25px 25px 0px;}
h3.txt-tl{font-size:21px;line-height:1.35;}
.parallax{background-attachment:fixed;background-repeat:repeat-y;background-position:center center;}
.bg-image-2{background:url('../images/cta-banner.jpg') no-repeat center fixed;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:100% auto;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.section{position:relative;padding:88px 0 67px 0;display:block;}
.cta-txt h3{font-size:32px;margin-bottom:10px;font-weight:700;color:#fff;}
.cta-txt p{color:#fff;}
.portfolio-box{margin-bottom:15px;}
.padding-right-zero{padding-right:0px;}
#contact{background-color:#f8f8f8;}
.validation{color:red;display:none;margin:0 0 20px;font-weight:400;font-size:13px;}
#sendmessage{color:green;border:1px solid green;display:none;text-align:center;padding:15px;font-weight:600;margin-bottom:15px;}
#errormessage{color:red;display:none;border:1px solid red;text-align:center;padding:15px;font-weight:600;margin-bottom:15px;}
#sendmessage.show, #errormessage.show, .show{display:block;}
.black{color:#000 !important;font-weight:600;}
.btn-send{border-radius:0px;color:#000;background-color:#FAB702;padding:10px 35px;}
a, a:hover{color:#FAB702;}
.cont-title{font-size:24px;padding:15px 0px;}
.location-info p span{display:inline-block;}
.location-info p span{width:40px;font-size:24px;color:#666;vertical-align:middle;}
.location-info p{margin-bottom:5px;}
.location-info p{font-size:14px;line-height:32px;color:#888;}
.contact-icon-container{position:absolute;top:-38px;right:0;padding-right:20px;font-size:320px;color:#555;line-height:300px;-ms-transform:rotate(20deg);-moz-transform:rotate(20deg);-webkit-transform:rotate(20deg);transform:rotate(20deg);}
#footer{background-color:#191919;padding:20px 0px;}
.footer-copyright{color:#fff;line-height:32px;text-align:left;}
.footer-social{float:right;}
.footer-social a{font-size:18px;color:#666;}
.link-dec, .link-dec:hover{color:#000;}
.camera_pag , .camera_commands{display:none}
.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont{background:rgba(0,0,0,0.5);}
.camera_azure_skin .camera_next > span{background-position:-40px -160px;}
.camera_azure_skin .camera_prev > span{background-position:0 -160px;}
.social_links{text-align:right;margin-top:10px;}
.social-icon li{display:inline-block;margin-right:1%;list-style:none;}
.social-icon a{border-radius:50%;color:#fff;display:block;font-size:20px;font-weight:400;height:40px;line-height:32px;text-align:center;width:40px;position:relative;border:2px solid transparent;transition:all 0.3s ease 0s;}
.social-icon a:hover{border:2px solid #fff;}
.social-icon li > a > i{left:30%;position:absolute;top:8px;transition:all 0.3s ease 0s;}
#portfoliolist .portfolio{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;width:25%;display:none;float:left;overflow:hidden;box-shadow:0 3px 40px 0 rgba(0, 0, 0, .1);}
.image-area{overflow:hidden;position:relative;}
.image-overlay{bottom:0;left:0;position:absolute;right:0;top:0;transition:background-color .3s ease-in-out 0s;}
.portfolio img{max-width:100%;position:relative;top:0;-webkit-transition:all .6s cubic-bezier(.645, .045, .355, 1);transition:all .6s cubic-bezier(.645, .045, .355, 1);}
.image-area .thumbnail-image{transform:scale(1);transition:transform .6s ease-in-out 0s;width:100%;}
.image-info{display:block;opacity:0;position:absolute;top:42%;transition:opacity .4s ease-in-out 0s;width:100%;z-index:120;text-align:center;}
.image-info .post-title{font-size:18px;line-height:30px;color:#000;font-weight:700;}
.image-info-buttons{display:block;margin-top:20px;position:relative;top:0;z-index:100;}
.image-info .image-info-buttons .button{border:2px solid #eee;display:inline-block;font-size:25px;font-weight:900;letter-spacing:1px;line-height:23px;padding:10px 12px;position:relative;color:#fff;}
.image-area:hover .image-overlay{background-color:rgba(255, 255, 255, 0.8);}
.image-area:hover .image-info{opacity:1;}
.image-area:hover .thumbnail-image{transform:scale(1.1);}
#filters{font-size:12px;letter-spacing:1px;padding:0;margin:0;margin-bottom:30px;margin-top:30px;font-weight:400;text-align:center;}
#filters li{display:inline-block;margin-right:5px;margin-bottom:0px;}
.filter{outline:none;padding:6px 20px;color:#111;font-size:11px;letter-spacing:3px;text-decoration:none;text-transform:uppercase;border:none !important;display:block;cursor:pointer;}
.filter:hover{background:#111;color:#fff;}
.filter.active, .filter.active{background-color:#FAB702;}
form.contactForm .form-control{box-shadow:none;font-size:12px;font-weight:normal;}
span.y-c{color:#FAB702;text-shadow:0 2px 13px #ddd;font-size:18px}
div#camera_wrap_1{margin-bottom:0px !important;}
span.space-f{font-size:14px !important;width:100%!important;color:#888 !important;padding-left:38px;}
a.navbar-brand img {
    width: 105px;
}
.wpcf7-not-valid {
    border: 2px solid #FAB702;
}
@media (min-width:451px) and (max-width:900px){.section-title{margin-bottom:15px;}
.social_links{text-align:left;}
ul.social-icon{padding-left:0;}
#portfoliolist .portfolio{width:50%;}
.filter{padding:6px 10px;}
.camera_caption > div{display:none;}
section#what_we_do{padding-top:0px !important;}
div#mynavbar{background:#000;border:none;}
.navbar-fixed-top{padding:7px 0;}
.navbar-toggle{margin-top:13px;}
}
@media (min-width:20px) and (max-width:450px){.navbar-toggle:hover, .navbar-toggle{background-color:transparent;border:none;color:#fff;font-size:19px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:transparent;}
.navbar-toggle{margin-top:13px;}
.navbar-default .navbar-nav > li > a{text-align:left;background-color:transparent;color:#fff;padding:5px 10px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{background-color:rgba(255, 255, 255, 0.32);color:#FAB702;}
.top-title{font-size:15px;}
.title{font-size:50px;}
.sub-title{font-size:24px;}
.footer-copyright{text-align:center;}
.padding-right-zero{padding-right:15px;}
.section-title{margin-bottom:15px;}
.cta-txt h3{font-size:28px;}
body{font-size:14px;}
h3.txt-tl{font-size:20px;}
.social_links{text-align:center;}
ul.social-icon{padding-left:0;}
#portfoliolist .portfolio{width:50%;}
.filter{padding:6px 10px;}
.camera_caption > div{display:none;}
section#what_we_do{padding-top:0px !important;}
div#mynavbar{background:#000;border:none;}
.navbar-fixed-top{padding:7px 0;}
.location-info p span{width:35px;}
span.space-f{padding-left:35px;}
.location-info p{font-size:13px;}
}
@media only screen and (max-width:345px){.location-info p span{width:30px;}
}